<p id="notice"><%= notice %></p>

<p>
  <strong>Sid:</strong>
  <%= @event.sid %>
</p>

<p>
  <strong>Cid:</strong>
  <%= @event.cid %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @event.signature %>
</p>

<p>
  <strong>Signature gen:</strong>
  <%= @event.signature_gen %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @event.signature_id %>
</p>

<p>
  <strong>Signature rev:</strong>
  <%= @event.signature_rev %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @event.timestamp %>
</p>

<p>
  <strong>Unified event:</strong>
  <%= @event.unified_event_id %>
</p>

<p>
  <strong>Unified event ref:</strong>
  <%= @event.unified_event_ref %>
</p>

<p>
  <strong>Unified ref time:</strong>
  <%= @event.unified_ref_time %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @event.priority %>
</p>

<p>
  <strong>Class:</strong>
  <%= @event.clas %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>

<p>
  <strong>Src ip:</strong>
  <%= @event.src_ip %>
</p>

<p>
  <strong>Dst ip:</strong>
  <%= @event.dst_ip %>
</p>

<p>
  <strong>Src port:</strong>
  <%= @event.src_port %>
</p>

<p>
  <strong>Dst port:</strong>
  <%= @event.dst_port %>
</p>

<p>
  <strong>Icmp type:</strong>
  <%= @event.icmp_type %>
</p>

<p>
  <strong>Icmp code:</strong>
  <%= @event.icmp_code %>
</p>

<p>
  <strong>Ip proto:</strong>
  <%= @event.ip_proto %>
</p>

<p>
  <strong>Ip ver:</strong>
  <%= @event.ip_ver %>
</p>

<p>
  <strong>Ip hlen:</strong>
  <%= @event.ip_hlen %>
</p>

<p>
  <strong>Ip tos:</strong>
  <%= @event.ip_tos %>
</p>

<p>
  <strong>Ip len:</strong>
  <%= @event.ip_len %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @event.ip_id %>
</p>

<p>
  <strong>Ip flags:</strong>
  <%= @event.ip_flags %>
</p>

<p>
  <strong>Ip flags:</strong>
  <%= @event.ip_flags %>
</p>

<p>
  <strong>Ip off:</strong>
  <%= @event.ip_off %>
</p>

<p>
  <strong>Ip ttl:</strong>
  <%= @event.ip_ttl %>
</p>

<p>
  <strong>Ip csum:</strong>
  <%= @event.ip_csum %>
</p>

<p>
  <strong>Last modified:</strong>
  <%= @event.last_modified %>
</p>

<p>
  <strong>Last uid:</strong>
  <%= @event.last_uid %>
</p>

<p>
  <strong>Abuse queue:</strong>
  <%= @event.abuse_queue %>
</p>

<p>
  <strong>Abuse sent:</strong>
  <%= @event.abuse_sent %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
